In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/day1", skip_blank_lines=False,header=None)
df.columns = ["calories"]
df.head(7)

   calories
0    4456.0
1   15332.0
2   15148.0
3    8795.0
4   11382.0
5       NaN
6    9808.0

In [8]:
elfBearer = []
counter = 0
for x in list(df.calories):
    if x > 0:
        counter += x
    else:
        elfBearer.append(counter)
        counter = 0

In [10]:
maxCals = max(elfBearer)
mostCals = elfBearer.index(maxCals)
print("Elf: ",mostCals+1)

122