In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/day2", sep =" ", skip_blank_lines=False,header=None)
#df.columns = ["calories"]
df.columns = ["opponent","elf"]
df.elf = df.elf.replace("X","A")
df.elf = df.elf.replace("Y","B")
df.elf = df.elf.replace("Z","C")
df.head(7)

  opponent elf
0        A   B
1        A   B
2        B   A
3        A   B
4        C   B
5        B   B
6        B   C

## Part 1

In [12]:
def scoreRow(row):
    score = 0
    if row.elf == "A":
        score += 1
    elif row.elf == "B":
        score += 2
    elif row.elf == "C":
        score += 3
    if row.elf == row.opponent:
        score += 3
    if (row.elf == "A") * (row.opponent == "C"):
        score += 6
    elif (row.elf == "B") * (row.opponent == "A"):
        score += 6
    elif (row.elf == "C") * (row.opponent == "B"):
        score += 6
    return score

In [14]:
df.apply(lambda row : scoreRow(row), axis = 1).sum()

11906

## Part 2

In [22]:
wins = {}
wins["A"] = "B"
wins["B"] = "C"
wins["C"] = "A"

In [23]:
loss = {}
loss["A"] = "C"
loss["B"] = "A"
loss["C"] = "B"

In [24]:
values = {}
values["A"] = 1
values["B"] = 2
values["C"] = 3

In [ ]:
types = {}
types["A"] = "Rock"
types["B"] = "Paper"
types["C"] = "Scissors"

In [33]:
def choiceAction(row):
    score = 0
    if row.elf == "B": # match null
        score += 3 # match null
        act = row.elf
        score += values[row.elf]
    if row.elf == "C": #Need to win
        score += 6
        act = wins[row.opponent] 
        score += values[act]
    if row.elf == "A": #Need to win
        score += 0
        act = loss[row.opponent] 
        score += values[act]
    return act

In [29]:
def scoreRow(row):
    score = 0
    if row.elf == "B": # match null
        score += 3 # match null
        score += values[row.opponent]
    if row.elf == "C": #Need to win
        score += 6
        act = wins[row.opponent] 
        score += values[act]
    if row.elf == "A": #Need to win
        score += 0
        act = loss[row.opponent] 
        score += values[act]
    return score

In [34]:
df["SCORE"] = df.apply(lambda row : scoreRow(row), axis = 1)
df["ACT"] = df.apply(lambda row : choiceAction(row), axis = 1)
# 11672 too high // 11435 // 11435
print(df["SCORE"] .sum())
df

11435

     opponent elf  SCORE ACT
0           A   B      5   B
1           A   B      5   B
2           B   A      1   A
3           A   B      5   B
4           C   B      5   B
...       ...  ..    ...  ..
2495        A   B      5   B
2496        A   B      5   B
2497        A   B      5   B
2498        B   B      5   B
2499        A   B      5   B

[2500 rows x 4 columns]