In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/day3", sep =" ", skip_blank_lines=False,header=None)
df.columns = ["item"] 
df

                                                 item
0        PPZTzDhJPLqPhqDTqrwQZZWbmCBMJMcsNmCBFWmMcsNb
1                        vplSlfdfGvfRRGsgNcMglsFWMWMC
2                                    jtjvFHdjjwqrwqwL
3    NSffhsNSjfLjfstsjtjNNjjqMqnpggHngqgHGHCgClGbCzCC
4        dDPZZDZFdwFWwFZFWZRTFDwGzCMlgnpgCpnzglClHMbg
..                                                ...
295                  qZlTTgTvlHnqvllPssQrgQcQwscrQMsf
296              CClpSnTllZnZCDLHnlNzGSRmRthVmmzqJzhd
297              DLzSMtDLtzmmlDlMlMDbcrcTDqFvVvVqqTbD
298        dnZshHpZRChgnszRwRZCpTqqTcwVqFcrVqcBVPqVTr
299                        snRRRdJsZgphCWlWtmJSjWWzjt

[300 rows x 1 columns]

In [3]:
def splitCol(item):
    L = len(item)
    A, B = str(item)[:L//2],str(item)[L//2:]
    common = [x for x in A if x in B][0]
    return common

In [4]:
def splitCol(item):
    L = len(item)
    A, B = str(item)[:L//2],str(item)[L//2:]
    common = [x for x in A if x in B][-1]
    return common

In [5]:
def valuePriority(char):
    x = ord(char)
    if x > 96:
        prio = x - 96 
    else:
        prio = x - 65 +27
    return prio

Find the item type that appears in both compartments of each rucksack. What is the sum of the priorities of those item types?

In [6]:
df["common"]   = df.item.apply(lambda x: splitCol(x))
df["priority"] = df.common.apply(lambda x: valuePriority(x))
print(len(df),df["priority"].sum())
#df = df.sort_values(by="common")
# 7846 too low ??
df

300 7863

                                                 item common  priority
0        PPZTzDhJPLqPhqDTqrwQZZWbmCBMJMcsNmCBFWmMcsNb      J        36
1                        vplSlfdfGvfRRGsgNcMglsFWMWMC      l        12
2                                    jtjvFHdjjwqrwqwL      j        10
3    NSffhsNSjfLjfstsjtjNNjjqMqnpggHngqgHGHCgClGbCzCC      q        17
4        dDPZZDZFdwFWwFZFWZRTFDwGzCMlgnpgCpnzglClHMbg      w        23
..                                                ...    ...       ...
295                  qZlTTgTvlHnqvllPssQrgQcQwscrQMsf      g         7
296              CClpSnTllZnZCDLHnlNzGSRmRthVmmzqJzhd      S        45
297              DLzSMtDLtzmmlDlMlMDbcrcTDqFvVvVqqTbD      D        30
298        dnZshHpZRChgnszRwRZCpTqqTcwVqFcrVqcBVPqVTr      w        23
299                        snRRRdJsZgphCWlWtmJSjWWzjt      J        36

[300 rows x 3 columns]

In [7]:
valuePriority("L"),valuePriority("v"),valuePriority("P")

(38, 22, 42)

## Part 2

In [8]:
counterGroup = 0
groupData = []
smallGroup = []
for ix, row in df.iterrows():
    smallGroup.append(row["item"])
    counterGroup += 1
    if counterGroup > 2:
        a = list(set(smallGroup[0]))
        b = list(set(smallGroup[1]))
        c = list(set(smallGroup[2]))
        RES = set(a).intersection(b).intersection(c)
        smallGroup = []
        RES = list(RES)[-1]
        groupData.append(RES)
        counterGroup = 0

In [9]:
totalScore = 0
for k in groupData:
    totalScore += valuePriority(k)
print(totalScore)

2488