In [48]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv("data/day7", sep =",", skip_blank_lines=True,header=None)
df.columns = ["command"] 
df.head(2)

  command
0  $ cd /
1    $ ls

In [71]:
df["tool"] = np.NaN
df.loc[df.command.str.startswith("$"), "tool" ] = df.command.apply(lambda x : " ".join(str(x).split("$")[1:]).strip())
df["dir"] = np.NaN
df.loc[df.command.str.startswith("$ cd"), "dir" ] = df.command.apply(lambda x : str(x).split("$ cd")[-1].strip())
df.dir  = df.dir.ffill()
df["existDirs"] = np.NaN
df.loc[df.command.str.startswith("dir"), "existDirs" ] = df.command.apply(lambda x : str(x).split("dir")[-1].strip())
df

                command       tool     dir existDirs
0                $ cd /       cd /       /       NaN
1                  $ ls         ls       /       NaN
2              dir plws        NaN       /      plws
3           dir pwlbgbz        NaN       /   pwlbgbz
4           dir pwtpltr        NaN       /   pwtpltr
..                  ...        ...     ...       ...
974             $ cd ..      cd ..      ..       NaN
975         $ cd nmtjtd  cd nmtjtd  nmtjtd       NaN
976                $ ls         ls  nmtjtd       NaN
977  47477 dvqmqlgw.ths        NaN  nmtjtd       NaN
978      51081 vqgsglwq        NaN  nmtjtd       NaN

[979 rows x 4 columns]

In [83]:
df

                command       tool     dir existDirs       path
0                $ cd /       cd /       /       NaN          /
1                  $ ls         ls       /       NaN          /
2              dir plws        NaN       /      plws          /
3           dir pwlbgbz        NaN       /   pwlbgbz          /
4           dir pwtpltr        NaN       /   pwtpltr          /
..                  ...        ...     ...       ...        ...
974             $ cd ..      cd ..      ..       NaN   fcsjl../
975         $ cd nmtjtd  cd nmtjtd  nmtjtd       NaN  ..nmtjtd/
976                $ ls         ls  nmtjtd       NaN  ..nmtjtd/
977  47477 dvqmqlgw.ths        NaN  nmtjtd       NaN  ..nmtjtd/
978      51081 vqgsglwq        NaN  nmtjtd       NaN  ..nmtjtd/

[979 rows x 5 columns]

In [168]:
df["path"] = np.NaN
df["SIZE"] = np.NaN
df["cleanPath"] = np.NaN
for ix, row in df.iterrows():
    #print(ix)
    if ix >= 1:
        before = str(df.iloc[ix-1].dir)
        current = str(df.iloc[ix].dir)
        #print(before, current)
        if not current == "..":
            if current != before:
                #print("==",df.loc[ix-1,"dir"] + df.loc[ix,"dir"]+ "/")
                df.loc[ix,"path"] = df.loc[ix-1,"cleanPath"] + df.loc[ix,"dir"] + "/"
            else:
                #print("++",df.loc[ix-1,"path"])
                df.loc[ix,"path"] = df.loc[ix-1,"cleanPath"]
        else:
            df.loc[ix,"path"] = df.loc[ix-1,"cleanPath"] + df.loc[ix,"dir"] + "/"
        if str(row.command).split(" ")[0].isdigit():
            df.loc[ix,"SIZE"] = int(str(row.command).split(" ")[0])
    else:
        df.loc[ix,"path"] = df.loc[ix,"dir"] 
    df.loc[ix,"cleanPath"] = cleanPath(df.iloc[ix]["path"],ix)
df[820:840]

,command,tool,dir,existDirs,path,SIZE,cleanPath
820,$ cd ..,cd ..,..,NaN,/pwtpltr/tcnmbcgg/rzqd/../,NaN,/pwtpltr/tcnmbcgg/
821,$ cd tcsds,cd tcsds,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,NaN,/pwtpltr/tcnmbcgg/tcsds/
822,$ ls,ls,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,NaN,/pwtpltr/tcnmbcgg/tcsds/
823,78812 gfmgb.wqj,NaN,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,78812.0,/pwtpltr/tcnmbcgg/tcsds/
824,218987 hnhfvz.dln,NaN,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,218987.0,/pwtpltr/tcnmbcgg/tcsds/
825,209640 mzzhqlq.zqp,NaN,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,209640.0,/pwtpltr/tcnmbcgg/tcsds/
826,102492 nml.ppg,NaN,tcsds,NaN,/pwtpltr/tcnmbcgg/tcsds/,102492.0,/pwtpltr/tcnmbcgg/tcsds/
827,$ cd ..,cd ..,..,NaN,/pwtpltr/tcnmbcgg/tcsds/../,NaN,/pwtpltr/tcnmbcgg/
828,$ cd ..,cd ..,..,NaN,/pwtpltr/tcnmbcgg/../,NaN,/pwtpltr/
829,$ cd ..,cd ..,..,NaN,/pwtpltr/../,NaN,/
830,$ cd ..,cd ..,..,NaN,/../,NaN,
831,$ cd szn,cd szn,szn,NaN,szn/,NaN,/szn/
832,$ ls,ls,szn,NaN,/szn/,NaN,/szn/
833,dir fcsjl,NaN,szn,fcsjl,/szn/,NaN,/szn/
834,dir snjntth,NaN,szn,snjntth,/szn/,NaN,/szn/
835,dir zjbp,NaN,szn,zjbp,/szn/,NaN,/szn/
836,$ cd fcsjl,cd fcsjl,fcsjl,NaN,/szn/fcsjl/,NaN,/szn/fcsjl/
837,$ ls,ls,fcsjl,NaN,/szn/fcsjl/,NaN,/szn/fcsjl/
838,158019 jsv.pmz,NaN,fcsjl,NaN,/szn/fcsjl/,158019.0,/szn/fcsjl/
839,$ cd ..,cd ..,..,NaN,/szn/fcsjl/../,NaN,/szn/

In [167]:
def cleanPath(path,ix):
    if not path.startswith("/"):
        path = "/"+path
    lst = path.split("/")
    index = [k for k in range(len(lst)) if lst[k] == ".."]
    RES = []
    for item in lst:
        if item == "..":
            try:
                RES.pop()
            except:
                print(ix," -- error with",path)
        else:
            RES.append(item)
    #cleaned = "/".join(lst).replace("///","/").replace("///","/")
    #cleaned = cleaned.replace("//","/")
    cleaned = "/".join(RES)
    return cleaned

In [162]:
x = "/plws/ffpzc/../frcmjzts/bsltmjz/../jfzgrbm/../"
cleanPath(x,"0")

'/plws/frcmjzts/'

## List of folders

In [202]:
DF = df.groupby("cleanPath").SIZE.sum().reset_index()
DF

                                        cleanPath      SIZE
0                                                       0.0
1                                               /       0.0
2                                          /plws/  114082.0
3                                    /plws/ffpzc/  908026.0
4                                 /plws/frcmjzts/       0.0
..                                            ...       ...
170        /tbgjpphc/rhzczj/ffjz/grsvhwm/snjntth/       0.0
171  /tbgjpphc/rhzczj/ffjz/grsvhwm/snjntth/dtbgb/  150245.0
172                     /tbgjpphc/rhzczj/qdgjzcz/  222389.0
173                     /tbgjpphc/rhzczj/snjntth/   56794.0
174                              /tbgjpphc/wlzhr/  729420.0

[175 rows x 2 columns]

In [203]:
def cumulSize(row):
    ttlSize = 0
    miniDF = DF[DF.cleanPath.str.startswith(row.cleanPath)]
    ttlSize = miniDF.SIZE.sum()
    return ttlSize

In [204]:
DF["ttlSize"] = DF.apply(lambda x:cumulSize(x), axis=1)
DF.sort_values(by="cleanPath")

                                        cleanPath      SIZE     ttlSize
0                                                       0.0  40268565.0
1                                               /       0.0  40268565.0
2                                          /plws/  114082.0   1554678.0
3                                    /plws/ffpzc/  908026.0    908026.0
4                                 /plws/frcmjzts/       0.0    531615.0
..                                            ...       ...         ...
170        /tbgjpphc/rhzczj/ffjz/grsvhwm/snjntth/       0.0    150245.0
171  /tbgjpphc/rhzczj/ffjz/grsvhwm/snjntth/dtbgb/  150245.0    150245.0
172                     /tbgjpphc/rhzczj/qdgjzcz/  222389.0    222389.0
173                     /tbgjpphc/rhzczj/snjntth/   56794.0     56794.0
174                              /tbgjpphc/wlzhr/  729420.0    729420.0

[175 rows x 3 columns]

In [205]:
# 38605323.0 too high
# 38506279 too high
# 1561589 is wrong // alternative:  1432936.0
# 
DG =  DF[(DF.ttlSize < 100000)]
DG.ttlSize.sum()

1432936.0

In [210]:
toFree = 70000000 - int(DF[DF.cleanPath == "/"].ttlSize)
toFree = 30000000 - toFree
toFree

268565

In [212]:
DF[DF.ttlSize >= 268565].sort_values(by="ttlSize")

                                cleanPath      SIZE     ttlSize
23    /pwlbgbz/sphbzn/fvzcs/cgmv/lmqcbbm/  272298.0    272298.0
92   /pwtpltr/jst/jsqjcqnt/sphbzn/sphbzn/  280719.0    280719.0
106            /pwtpltr/snjntth/snmrdfbt/  281025.0    281025.0
60      /pwlbgbz/sphbzn/pcbt/sphbzn/glgq/  285182.0    285182.0
59           /pwlbgbz/sphbzn/pcbt/sphbzn/       0.0    285182.0
..                                    ...       ...         ...
62                              /pwtpltr/  140951.0  10822209.0
19                       /pwlbgbz/sphbzn/  471731.0  12388498.0
8                               /pwlbgbz/   60778.0  14911426.0
1                                       /       0.0  40268565.0
0                                               0.0  40268565.0

[82 rows x 3 columns]

In [214]:
272298 - toFree

3733